<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">Przychodnia Lekarska</div>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/myuser" routerLinkActive="active">Moje dane</a></li>
      <li><a routerLink="/myvisits" routerLinkActive="active">Moje wizyty</a></li>
      <li><a routerLink="/doctorsuser" routerLinkActive="active">Nasi doktorzy</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-user"></span> {{login.user.firstName}} {{login.user.lastName}}</button>
      <a routerLink="/login" routerLinkActive="active"><button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-log-out"></span> Wyloguj się</button></a>
    </ul>
  </div>
</nav>
<div *ngIf="doctor">
  <div class="panel panel-primary">
    <div class="panel-heading">Profil: {{doctor.firstName}} {{doctor.lastName}}</div>
    <div class="panel-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Imię </th>
            <th>Nazwisko</th>
            <th>Specjalizacja</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{doctor.firstName}}</td>
            <td>{{doctor.lastName}}</td>
            <td>{{doctor.medicalSpecialization.specializationName}}</td>
          </tr>
        </tbody>
      </table>
      <h2>Godziny przyjęć</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Poniedziałek</th>
            <th>Wtorek</th>
            <th>Środa</th>
            <th>Czwartek</th>
            <th>Piątek</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{doctor.mondayHours}}</td>
            <td>{{doctor.tuesdayHours}}</td>
            <td>{{doctor.wednesdayHours}}</td>
            <td>{{doctor.thursdayHours}}</td>
            <td>{{doctor.fridayHours}}</td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-default" (click)="goBack()">Wróc</button>
      <a routerLink="/addVisit" routerLinkActive="active"><button type="button" class="btn btn-link">Wyznacz wizytę</button></a>
    </div>
  </div>